.eslintrc.json
node_modules
.next
.env
.env.local
frontend/db/db.sql
server.config
frontend/cypress/support/e2e.ts
frontend/cypress/e2e/spec.cy.ts
frontend/db/db.sql
.vscode/launch.json
so.md
frontend/db/draft.sql
db.sql
frontend/src/app/ignore/page.tsx
frontend/src/hooks/useFetchJobsFromRepairshopr.ts
.github/workflows/github-actions.yml
frontend/src/app/search_ticket/page.tsx
frontend/src/app/audit_checklists/page.tsx
frontend/src/app/strip_char_add_images_checklist/page.tsx
frontend/src/app/strip_char/page.tsx
frontend/src/app/hhp_tasks_auto_update/page.tsx
frontend/src/app/hhp_tasks_audit/page.tsx
