@import url(https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap);

@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar,
.sidebar {
  background-color: #fff;
}
.sidebar,
.sidebar-overlay {
  transition: 0.5s;
  position: fixed;
  top: 0;
}
.sd-body li,
.sd-body ul {
  list-style: none;
  margin-bottom: 0;
}
.footer,
.navbar {
  border-bottom: 1px solid #eee;
  overflow: hidden;
}
.sd-link,
label {
  font-weight: 500;
}
.avi,
.footer,
.navbar,
td,
th {
  overflow: hidden;
}
#toTop,
.navbar,
.sidebar {
  position: fixed;
}
#toTop,
.alert .close,
.sd-link {
  cursor: pointer;
}

*,
::after,
::before {
  box-sizing: border-box;
}
html:focus-within {
  scroll-behavior: smooth;
}
body,
html {
  padding: 0;
  margin: 0;
  font-family: Inter, sans-serif !important;
  height: 100vh;
  max-height: 1000vh;
  min-height: 100vh;
  --scrollbarBG: #dee2da;
  --thumbBG: #6c757d;
}
body::-webkit-scrollbar,
::-webkit-scrollbar {
  height: 12px;
  width: 12px;
}
body::-webkit-scrollbar-track,
::-webkit-scrollbar-track {
  background: #dee2da;
}
::-webkit-scrollbar-thumb:vertical,
body::-webkit-scrollbar-thumb {
  background-color: #6c757d;
  border-radius: 20px;
  border: 3px solid #dee2da;
}
.navbar {
  top: 0;
  width: 100%;
  z-index: 1;
}
.space-between-navbar-and-content {
  margin-top: calc(100vh - 89vh);
  height: 100%;
}
.nav_links {
  display: none;
}
.sd-body,
.sd-body ul,
.sd-header,
.sd-link,
.search {
  display: flex;
}
.avi {
  width: 34px;
  height: 34px;
  border-radius: 50%;
}
.sidebar {
  width: 280px;
  min-height: 100vh;
  max-height: 100vh;
  box-shadow: 0 4px 8px rgb(0 0 0 / 16%);
  left: -100%;
  z-index: 3;
}
.sidebar.active {
  left: 0;
}
.sd-header {
  align-items: center;
  justify-content: space-between;
  padding: 15px 15px 5px;
  margin-top: 1rem;
}
.sd-header .logo {
  width: 200px;
  overflow: hidden;
  margin: 0;
}
.sd-header .logo img {
  width: 100%;
  height: auto;
  margin: 0;
}
button.close_button {
  background-color: transparent;
  border: none;
  padding: 0;
}
.sidebar-overlay {
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  visibility: hidden;
  z-index: 1;
}
.sidebar-overlay.active {
  opacity: 1;
  visibility: visible;
  z-index: 2;
}
.sd-body {
  flex-direction: column;
  gap: 1rem;
  padding: 15px;
  max-height: calc(100vh - 67px);
  overflow-x: hidden;
}
.open-submenu-btn {
  transition: 0.2s ease-in;
}
.sd-body ul {
  flex-direction: column;
  margin-top: 1rem;
  width: 100%;
  padding: 0;
  gap: 1.2rem;
}
.sd-link {
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  width: 100%;
  color: #0d0d0d;
  font-size: 1rem;
  border-radius: 4px;
  text-decoration: none;
  padding: 0.6rem 1.4rem 0.6rem 0.6rem;
}
.sd-link:active,
.sd-link:focus,
.sd-link:hover {
  color: #fff;
  background-color: #075985;
  font-weight: 600;
  transition: 0.3s;
}
.footer {
  padding: 1rem;
  height: 5.926vh;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #fff;
}
.link_btn,
table {
  font-family: inherit;
}
a,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  font-family: Inter, sans-serif;
}
.search,
label {
  font-family: inherit;
}
img {
  width: 100%;
  height: auto;
}
.edit_page_main {
  padding-top: 2rem;
}
.search {
  align-items: center;
  background-image: url("../../public/icons/bx-search-alt.svg");
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 10px 20px 10px 40px;
  max-width: 360px;
  min-width: 360px;
  width: 100%;
  color: #0d0d0d;
  margin: auto;
}
input[type="search"]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
input[type="search"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}
label {
  color: #020617;
}
textarea {
  resize: none;
}
.content-wrapper {
  padding-top: 3rem;
}
.content-wrapper h1,
.edit_page_title {
  font-size: 2rem;
  position: relative;
  top: 0;
  margin: 0;
  font-weight: 700;
  color: #020617;
  text-align: center;
}
#toTop,
.content-wrapper button {
  color: #fff;
  font-family: inherit;
}
.content-wrapper h1 > span {
  font-weight: 400;
  color: #075985;
}
.content-wrapper button {
  display: flex;
  margin: 10px auto;
  padding: 12px 20px;
  background-color: #082f49;
  font-weight: 500;
  border: none;
  border-radius: 4px;
}
section.homepage_modal_content p {
  color: #0d0d0d;
  font-weight: 500;
  padding: 1rem auto;
}
.home_image_grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
  margin: 2rem auto;
}
@media (min-width: 900px) {
  .content-wrapper h1 {
    font-size: 2rem;
    position: relative;
    top: 0;
    margin: 0;
    font-weight: 700;
    color: #020617;
    text-align: center;
  }
  .content-wrapper h1 > span {
    font-weight: 400;
    color: #075985;
  }
  .content-wrapper button {
    font-weight: 700;
  }
  .content-wrapper button:active,
  .content-wrapper button:focus,
  .content-wrapper button:hover {
    background-color: #075985;
  }
  .home_image_grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin-top: 3rem;
  }
}
td,
th {
  font-family: inherit;
}
.part_info_card {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border: 1px solid #eee;
  border-radius: 4px;
  color: #44403c;
  width: 100%;
}
.part_info_card p {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
  font-family: inherit;
  font-weight: 500;
  border-bottom: 1px solid #eee;
  padding: 1rem 0;
}
.auth,
.auth_card_logo,
.updatePage {
  display: flex;
  justify-content: center;
}
.part_info_card p > span {
  font-weight: 600;
  color: #0ea5e9;
  font-family: inherit;
}
#toTop {
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: 0;
  background-color: red;
  padding: 15px;
  border-radius: 10px;
  font-size: 18px;
}
#toTop:hover {
  background-color: #555;
}
.auth,
.updatePage {
  height: 100vh;
  flex-direction: column;
  padding: 0.5rem;
}
.auth_card,
.updatePageCard {
  border: 1px solid #eee;
  border-radius: 6px;
  padding: 2rem 1rem;
  margin: 0 auto;
  max-height: 100%;
  width: 400px;
  max-width: 100%;
}
.auth_card_logo {
  position: relative;
  margin: auto;
}
.auth_card_logo img {
  max-width: 30%;
  max-height: 30%;
}
.checklist_cards {
  display: grid;
  gap: 10px;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.accordion-clearfix {
  clear: both;
}
@keyframes leave {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.tabs {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}
.tab-button {
  display: inline;
}
.alert {
  padding: 0.75rem 40px 0.75rem 0.5rem;
  margin-bottom: 0.5rem;
  text-align: left;
  border-radius: 4px;
  font-size: 16px;
  position: relative;
}
.alert.warning {
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
}
.alert.error {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}
.alert.leaving {
  animation: 0.5s forwards leave;
}
.alert .close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 0.75rem;
  color: #333;
  border: 0;
  height: 100%;
  background: 0 0;
  font-weight: 600;
  font-size: 16px;
}
.alert .close::after {
  content: "x";
}
.loader {
  animation: 2s linear infinite rotate;
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
.loader circle {
  animation: 1.5s ease-in-out infinite dash;
}
@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}
.popup-modal-dialog {
  max-height: calc(100vh - 40px);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: slide-in;
  animation-duration: 0.5s;
}
.popup-modal-close {
  cursor: pointer;
  padding: 1rem;
  margin: -1rem -1rem -1rem auto;
}

/* Dropdowns in edit ticket */
.dropdown {
  margin: 1rem auto;
  z-index: 10000;
  /* width: 300px; */
  position: relative;
}
.dropdown,
.dropdown * {
  z-index: 10;
}
.dropdown .dropdown-btn {
  cursor: pointer;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  color: #777;
  font-weight: 500;
}
.dropdown-content {
  /* position: absolute; */
  /* top: 110%; */
  left: 0;
  width: 100%;
  border-bottom: 1px solid #eee;
}
.dropdown-content .item {
  padding: 10px;
  cursor: pointer;
  font-size: 0.8rem;
}
.dropdown-content .item:hover {
  background: #fcfcfc;
}

