@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  height: 100vh;
  --scrollbarBG: #dee2da;
  --thumbBG: #6c757d;
}
body::-webkit-scrollbar {
  height: 12px;
  width: 12px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #dee2da; /* color of the tracking area */
}

body::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb:horizontal {
  background-color: #6c757d; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid #dee2da; /* creates padding around scroll thumb */
}
img {
  width: 100%;
  height: 100%;
}
/* Navbar */
.navbar {
  padding: 1rem;
  height: 6rem;
  position: fixed;
  top: 0;
  overflow: hidden;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid #eee;
}
/*  space-between-navbar-and-content */
.space-between-navbar-and-content {
  margin-top: calc(100vh - 85vh);
}

.nav_links {
  display: none;
}
/* avatar */
.avi {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  overflow: hidden;
}
/* Sidebar */
.sidebar {
  width: 100%;
  min-height: 100vh;
  box-shadow: 0px 4px 8px rgb(0 0 0 / 16%);
  background-color: #fff;
  position: fixed;
  /* Stay in place */
  /* Stay on top */
  top: 0;
  /* Stay at the top */
  left: 0;
  left: -100%;
  z-index: 3;
  transition: 0.5s;
  position: fixed;
}

.sidebar.active {
  left: 0;
}

.sd-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 15px 5px 15px;
}

/* Sidebar close button */
button.close_button {
  background-color: transparent;
  border: none;
  padding: 0;
}

.sd-body {
  padding: 15px;
  max-height: calc(100vh - 5rem);
  overflow-x: hidden;
}

.sd-body ul {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  list-style: none;
  width: 100%;
  margin-bottom: 0;
  padding: 0;
}

.sd-body ul li {
  list-style: none;
  margin-bottom: 0;
}

.sd-link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  width: 100%;
  padding: 10px 16px 10px 10px;
  font-size: 1.3rem;
  font-weight: 500;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
}

.link_btn {
  font-family: inherit;
}

/* Typopgraphy */
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  margin: 0;
  padding: 0;
  font-family: inherit;
}

img {
  width: 100%;
  height: auto;
}

.edit_page_main{
  padding-top: 2rem;
}

/* If input has 'search in the classname */
.search {
  display: flex;
  align-items: center;
  background-image: url("../../public/icons/bx-search-alt.svg");
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding-left: 40px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  max-width: 360px;
  min-width: 360px;
  width: 100%;
  font-family: inherit;
  color: #0d0d0d;
  margin: auto;
}

/* clears the ‘X’ from Internet Explorer */
input[type="search"]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type="search"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

/* clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}
label {
  font-family: inherit;
  color: #020617;
  font-weight: 500;
}
/* Text input, select, textarea */
/* input[type="text"],
select,
textarea {
  outline: none;
  border: 2px solid #eee;
  padding: 14px 20px;
  margin: 1rem auto;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 500;
  color: #0d0d0d;
} */
/* input[type="text"]:focus, textarea:focus {
  border: 2px solid #075985;
} */

textarea {
  resize: none;
}
/* 
.custom-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - 3rem);
  border: 1px solid red;
} */
/* Homepage */
.content-wrapper {
  padding-top: 3rem;
}
.content-wrapper h1,
.edit_page_title {
  font-size: 2rem;
  text-align: center;
  position: relative;
  top: 0;
  margin: 0;
  font-weight: 700;
  color: #020617;
  text-align: center;
}

.content-wrapper h1 > span {
  font-weight: 400;
  color: #075985;
}

.content-wrapper button {
  display: flex;
  margin: auto;
  padding: 12px 20px;
  background-color: #082f49;
  margin: 10px auto;
  color: white;
  font-family: inherit;
  font-weight: 500;
  border: none;
  border-radius: 4px;
}
section.homepage_modal_content p {
  color: #0d0d0d;
  font-weight: 500;
  padding: 1rem auto;
}

.home_image_grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
  margin: 2rem auto;
}

@media (min-width: 900px) {
  .content-wrapper h1 {
    font-size: 2rem;
    text-align: center;
    position: relative;
    top: 0;
    margin: 0;
    font-weight: 700;
    color: #020617;
    text-align: center;
  }

  .content-wrapper h1 > span {
    font-weight: 400;
    color: #075985;
  }

  .content-wrapper button {
    font-weight: bold;
  }

  .content-wrapper button:hover,
  .content-wrapper button:active,
  .content-wrapper button:focus {
    background-color: #075985;
  }

  .home_image_grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin-top: 3rem;
  }
}

/* Table styling */
table {
  font-family: inherit;
}
th,
td {
  font-family: inherit;
  overflow: hidden;
}

/* Parts section */

.part_info_card {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border: 1px solid #eee;
  border-radius: 4px;
  color: #44403c;
  width: 100%;
}

.part_info_card p {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
  font-family: inherit;
  font-weight: 500;
  border-bottom: 1px solid #eee;
  padding: 1rem 0;
}

.part_info_card p > span {
  font-weight: 600;
  color: #0ea5e9;
  font-family: inherit;
}

/* Scroll to top button */
#toTop {
  /* display: none; Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: red; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
  font-family: inherit;
}

#toTop:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}